server: ## Config Web Server
   port: 8080
   servlet.contextPath: /spring-boot-demo
   


jasypt.encryptor.bean: encryptorBean
spring.application.name: spring-boot-demo
spring:
   main.allow-bean-definition-overriding: true
   data:
     mongodb:
        uri: mongodb://localhost:27017/onesaitplatform_rtdb
   mail:
     host: in-v3.mailjet.com
     port: 587
     username: ENC(im/F0Rc6kwY5msurlH8g3uhE1vhJVTlBKWs/PoM6ZUMxMPNTAN/lB77qmqNrdL9Q)
     password: ENC(ZwlBgTTbTy9FZXqFyEOZVYYYS3rJVYGUyXrHN91wJFWy6rWy935+usFl+9oNR6pM)
     properties:
        mail:
          debug: true
          smtp:
            auth: false
            starttls.enable: false
            starttls.required: false
            timeout: 6000
            connectiontimeout: 6000
            writetimeout: 6000
            
onesaitplatform:
   mail-from: online@onesaitplatform.com
   jasypt.phrase: 0n3sa1tP1atf0rm
   notifierclient:
    enabled: true
    server: https://development.onesaitplatform.com
    username: developer
    password: Changed2019!  
    #apikey:
   iotclient:  
    token:
    deviceTemplate:
    device:

logging:
  path: /tmp/logs 
  file: ${spring.application.name}
  level:
    org.springframework.data.mongodb.core.MongoTemplate: DEBUG
        
##TWILIO CONFIG
twilio:
   account-sid: ENC(IC/C8vq6vNU8WcE9ergz1T1zpfAYuEuVfiXvVichZNMe/VZI0Kn9tuV8ZTPJvHbm)
   auth-token: ENC(BbgyMpPxifR+bTCgB9F7lZz9EgJHjKGUy7SDSmCt81vW5qezD0muWRXEzyIP83Oh)
   phone-number: +18302713520

openplatform.api:
   baseurl: https://development.onesaitplatform.com
   auth:
    login.path: /oauth-server/oauth/token
    token:
      verify.path: /oauth-server/openplatform-oauth/check_token
      grant_type: password
      scope: openid
      clientId: onesaitplatform
      password: onesaitplatform
      vertical: onesaitplatform #only change this parameter if using multitenant platform and different vertical